	#content ul.photofade {
/* moved to inline styles - davidangel
		list-style-type: none !important;
		padding: 0 !important;
		margin: 0 !important;
*/
		margin-bottom:1em;
		overflow: hidden;
	}
	#content ul.photofade li {
		list-style-type: none !important;
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
	}
	.photofade img {
		width: auto;
		height: 100% !important;
		display: block;
		margin: 0 auto 0 auto;
		text-align:center;
	}